In [1]:
import pandas as pd
import numpy as np

import datetime
from datetime import datetime

import sklearn

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
pet_df = pd.read_csv("Animal_Shelter_Intake_and_Outcome.csv")
pet_df.shape

(26440, 24)

In [3]:
pet_df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,CUPCAKE,DOG,MALTESE/POODLE TOY,WHITE,Spayed,TOY,10/06/2014,K23-045263,DA04,A328255,...,FIELD,ADOPTION,SCAS WEB,UNKNOWN,PENDING,SANTA ROSA,COUNTY,95441.0,"95441(38.70854, -122.90737)",1
1,NaN,CAT,DOMESTIC SH,BLACK,Unknown,KITTN,NaN,K23-046275,RECEIVING,A420799,...,OVER THE COUNTER,TRANSFER,PETLUMA PP,UNKNOWN,HEALTHY,COUNTY,*PETALUMA,94952.0,"94952(38.237, -122.640695)",1
2,SYLVESTER,CAT,DOMESTIC LH,BLACK/WHITE,Neutered,SMALL,09/29/2013,K23-046271,CS05,A420773,...,OVER THE COUNTER,RETURN TO OWNER,OVER THE COUNTER_MCHIP,HEALTHY,HEALTHY,COUNTY,OUT OF COUNTY,94901.0,"94901(37.9702346, -122.5260879)",1
3,NaN,CAT,DOMESTIC SH,BRN TABBY,Male,KITTN,08/15/2023,K23-046281,CI01,A420810,...,OVER THE COUNTER,TRANSFER,HSSC,UNKNOWN,TREATABLE/REHAB,COUNTY,COUNTY,95407.0,"95407(38.4127094, -122.7412153)",1
4,*TESS,CAT,DOMESTIC SH,ORG TABBY/WHITE,Spayed,KITTN,05/07/2023,K23-044867,LOBBY,A417889,...,OVER THE COUNTER,ADOPTION,WALKIN,UNKNOWN,HEALTHY,COUNTY,SANTA ROSA,95404.0,"95404(38.44511, -122.708)",1

In [4]:
pet_df = pet_df.drop(['Name','Impound Number','Kennel Number','Animal ID',
                      'Outcome Date','Intake Subtype','Outcome Subtype',
                      'Outcome Condition','Intake Jurisdiction','Outcome Jurisdiction',
                      'Outcome Zip Code','Location','Count'
                     ], axis=1).dropna()
pet_df.head()

,Type,Breed,Color,Sex,Size,Date Of Birth,Intake Date,Days in Shelter,Intake Type,Outcome Type,Intake Condition
0,DOG,MALTESE/POODLE TOY,WHITE,Spayed,TOY,10/06/2014,07/05/2023,34,STRAY,ADOPTION,UNKNOWN
2,CAT,DOMESTIC LH,BLACK/WHITE,Neutered,SMALL,09/29/2013,09/29/2023,1,STRAY,RETURN TO OWNER,HEALTHY
3,CAT,DOMESTIC SH,BRN TABBY,Male,KITTN,08/15/2023,09/30/2023,0,STRAY,TRANSFER,UNKNOWN
4,CAT,DOMESTIC SH,ORG TABBY/WHITE,Spayed,KITTN,05/07/2023,05/30/2023,70,STRAY,ADOPTION,UNKNOWN
5,CAT,DOMESTIC SH,BRN TABBY/WHITE,Female,SMALL,07/15/2012,07/15/2023,24,STRAY,TRANSFER,UNKNOWN

In [5]:
print("---INPUT CATEGORICAL---")

print("TYPES : ")
print(pet_df['Type'].unique().tolist())

print("\nSEXES : ")
print(pet_df['Sex'].unique().tolist())

print("\nSIZES : ")
print(pet_df['Size'].unique().tolist())

print("\nINTAKE TYPES : ")
print(pet_df['Intake Type'].unique().tolist())

print("\nINTAKE CONDITIONS : ")
print(pet_df['Intake Condition'].unique().tolist())

print("\nBREEDS : ")
print(pet_df['Breed'].unique().tolist())

print("\nCOLORS : ")
print(pet_df['Color'].unique().tolist())

---INPUT CATEGORICAL---
TYPES :
['DOG', 'CAT', 'OTHER']

SEXES :
['Spayed', 'Neutered', 'Male', 'Female', 'Unknown']

SIZES :
['TOY', 'SMALL', 'KITTN', 'LARGE', 'MED', 'PUPPY', 'X-LRG']

INTAKE TYPES :
['STRAY', 'QUARANTINE', 'OWNER SURRENDER', 'CONFISCATE', 'ADOPTION RETURN', 'BORN HERE', 'TRANSFER', 'OS APPT']

INTAKE CONDITIONS :
['UNKNOWN', 'HEALTHY', 'TREATABLE/REHAB', 'TREATABLE/MANAGEABLE', 'UNTREATABLE']

BREEDS :

In [6]:
print("---OUTPUT CATEGORICAL---")

print("OUTCOME TYPES : ")
print(pet_df['Outcome Type'].unique().tolist())

---OUTPUT CATEGORICAL---
OUTCOME TYPES :
['ADOPTION', 'RETURN TO OWNER', 'TRANSFER', 'DISPOSAL', 'EUTHANIZE', 'DIED', 'RTOS', 'ESCAPED/STOLEN']

In [7]:
# Remove other from types
pet_df = pet_df.loc[pet_df['Type'] != 'OTHER']

In [8]:
# Change Sex
pet_df['Sex'].value_counts()

Neutered    7473
Spayed      6392
Male        2610
Female      2026
Unknown      525
Name: Sex, dtype: int64

In [9]:
# Unknown Sex is a small sample here, so I'm going to remove it
pet_df = pet_df.loc[pet_df['Sex'] != 'Unknown'].reset_index(drop=True)

pet_df['Fixed'] = pet_df['Sex'].map({'Neutered' : True, 'Spayed' : True,
                                    'Male' : False, 'Female' : False})
pet_df['Sex'] = pet_df['Sex'].map({'Neutered' : 'Male', 'Male' : 'Male',
                                   'Spayed' : 'Female', 'Female' : 'Female'})
pet_df.head()

,Type,Breed,Color,Sex,Size,Date Of Birth,Intake Date,Days in Shelter,Intake Type,Outcome Type,Intake Condition,Fixed
0,DOG,MALTESE/POODLE TOY,WHITE,Female,TOY,10/06/2014,07/05/2023,34,STRAY,ADOPTION,UNKNOWN,True
1,CAT,DOMESTIC LH,BLACK/WHITE,Male,SMALL,09/29/2013,09/29/2023,1,STRAY,RETURN TO OWNER,HEALTHY,True
2,CAT,DOMESTIC SH,BRN TABBY,Male,KITTN,08/15/2023,09/30/2023,0,STRAY,TRANSFER,UNKNOWN,False
3,CAT,DOMESTIC SH,ORG TABBY/WHITE,Female,KITTN,05/07/2023,05/30/2023,70,STRAY,ADOPTION,UNKNOWN,True
4,CAT,DOMESTIC SH,BRN TABBY/WHITE,Female,SMALL,07/15/2012,07/15/2023,24,STRAY,TRANSFER,UNKNOWN,False

In [10]:
pet_df['Size'] = pet_df['Size'].map({'KITTN' : 0, 'PUPPY' : 0, 
                                     'TOY' : 1, 'SMALL' : 1,
                                     'MED' : 2, 'LARGE' : 3,
                                     'X-LRG' : 4})
pet_df['Size'].value_counts()

1    7061
0    4043
2    3818
3    3419
4     160
Name: Size, dtype: int64

In [11]:
f = lambda x: datetime.strptime(x, '%m/%d/%Y')
bDt = pet_df["Date Of Birth"].apply(f)
iDt = pet_df["Intake Date"].apply(f)

pet_df["Age"] = iDt-bDt
pet_df["Age"] = pet_df["Age"].dt.days + pet_df["Days in Shelter"]

pet_df.head()

,Type,Breed,Color,Sex,Size,Date Of Birth,Intake Date,Days in Shelter,Intake Type,Outcome Type,Intake Condition,Fixed,Age
0,DOG,MALTESE/POODLE TOY,WHITE,Female,1,10/06/2014,07/05/2023,34,STRAY,ADOPTION,UNKNOWN,True,3228
1,CAT,DOMESTIC LH,BLACK/WHITE,Male,1,09/29/2013,09/29/2023,1,STRAY,RETURN TO OWNER,HEALTHY,True,3653
2,CAT,DOMESTIC SH,BRN TABBY,Male,0,08/15/2023,09/30/2023,0,STRAY,TRANSFER,UNKNOWN,False,46
3,CAT,DOMESTIC SH,ORG TABBY/WHITE,Female,0,05/07/2023,05/30/2023,70,STRAY,ADOPTION,UNKNOWN,True,93
4,CAT,DOMESTIC SH,BRN TABBY/WHITE,Female,1,07/15/2012,07/15/2023,24,STRAY,TRANSFER,UNKNOWN,False,4041

In [12]:
len(pet_df['Breed'].unique())

862

In [13]:
def splitCol(x):
    if '/' in x:
        return x.split('/',1)
    return [x, 'None']

In [14]:
brd_ls = pet_df.apply(lambda b : splitCol(b['Breed']), axis=1)

pet_df['Breed Primary'] = [e[0] for e in brd_ls]
pet_df['Breed Secondary'] = [e[1] for e in brd_ls]

In [15]:
clr_ls = pet_df.apply(lambda c : splitCol(c['Color']), axis=1)

pet_df['Color Primary'] = [e[0] for e in clr_ls]
pet_df['Color Secondary'] = [e[1] for e in clr_ls]

In [16]:
pet_df.head()

,Type,Breed,Color,Sex,Size,Date Of Birth,Intake Date,Days in Shelter,Intake Type,Outcome Type,Intake Condition,Fixed,Age,Breed Primary,Breed Secondary,Color Primary,Color Secondary
0,DOG,MALTESE/POODLE TOY,WHITE,Female,1,10/06/2014,07/05/2023,34,STRAY,ADOPTION,UNKNOWN,True,3228,MALTESE,POODLE TOY,WHITE,None
1,CAT,DOMESTIC LH,BLACK/WHITE,Male,1,09/29/2013,09/29/2023,1,STRAY,RETURN TO OWNER,HEALTHY,True,3653,DOMESTIC LH,None,BLACK,WHITE
2,CAT,DOMESTIC SH,BRN TABBY,Male,0,08/15/2023,09/30/2023,0,STRAY,TRANSFER,UNKNOWN,False,46,DOMESTIC SH,None,BRN TABBY,None
3,CAT,DOMESTIC SH,ORG TABBY/WHITE,Female,0,05/07/2023,05/30/2023,70,STRAY,ADOPTION,UNKNOWN,True,93,DOMESTIC SH,None,ORG TABBY,WHITE
4,CAT,DOMESTIC SH,BRN TABBY/WHITE,Female,1,07/15/2012,07/15/2023,24,STRAY,TRANSFER,UNKNOWN,False,4041,DOMESTIC SH,None,BRN TABBY,WHITE

In [17]:
pet_df['Outcome Type'].unique()

array(['ADOPTION', 'RETURN TO OWNER', 'TRANSFER', 'DISPOSAL', 'EUTHANIZE',
       'DIED', 'RTOS', 'ESCAPED/STOLEN'], dtype=object)

In [18]:
pet_df['Outcome Type'] = pet_df['Outcome Type'].map({'ADOPTION':'ADOPT', 'RETURN TO OWNER':'RTO',
                                                    'TRANSFER':'TRANS', 'DISPOSAL':'EUTH', 'EUTHANIZE':'EUTH',
                                                    'DIED':'DIED', 'RTOS':'RTO', 'ESCAPED/STOLEN':'ESCP'})

In [19]:
pet_df = pet_df.drop(['Breed','Color','Date Of Birth','Intake Date'], axis=1)
pet_df.head()

,Type,Sex,Size,Days in Shelter,Intake Type,Outcome Type,Intake Condition,Fixed,Age,Breed Primary,Breed Secondary,Color Primary,Color Secondary
0,DOG,Female,1,34,STRAY,ADOPT,UNKNOWN,True,3228,MALTESE,POODLE TOY,WHITE,None
1,CAT,Male,1,1,STRAY,RTO,HEALTHY,True,3653,DOMESTIC LH,None,BLACK,WHITE
2,CAT,Male,0,0,STRAY,TRANS,UNKNOWN,False,46,DOMESTIC SH,None,BRN TABBY,None
3,CAT,Female,0,70,STRAY,ADOPT,UNKNOWN,True,93,DOMESTIC SH,None,ORG TABBY,WHITE
4,CAT,Female,1,24,STRAY,TRANS,UNKNOWN,False,4041,DOMESTIC SH,None,BRN TABBY,WHITE

In [20]:
in_df = pet_df.drop(['Outcome Type'], axis=1)
out_df = pet_df['Outcome Type']
in_df.head()

,Type,Sex,Size,Days in Shelter,Intake Type,Intake Condition,Fixed,Age,Breed Primary,Breed Secondary,Color Primary,Color Secondary
0,DOG,Female,1,34,STRAY,UNKNOWN,True,3228,MALTESE,POODLE TOY,WHITE,None
1,CAT,Male,1,1,STRAY,HEALTHY,True,3653,DOMESTIC LH,None,BLACK,WHITE
2,CAT,Male,0,0,STRAY,UNKNOWN,False,46,DOMESTIC SH,None,BRN TABBY,None
3,CAT,Female,0,70,STRAY,UNKNOWN,True,93,DOMESTIC SH,None,ORG TABBY,WHITE
4,CAT,Female,1,24,STRAY,UNKNOWN,False,4041,DOMESTIC SH,None,BRN TABBY,WHITE

In [21]:
pt_inT = pd.get_dummies(in_df['Intake Type'])
pt_inC = pd.get_dummies(in_df['Intake Condition'])

In [22]:
pt_clr = pd.get_dummies(in_df['Color Primary'])
pt_brd = pd.get_dummies(in_df['Breed Primary'])

for i in range(0, len(in_df['Type'])):
    c = in_df['Color Secondary'][i]
    b = in_df['Breed Secondary'][i]
    
    if c != 'None':
        if c not in pt_clr:
            pt_clr[c] = 0
        pt_clr[c][i] = 2
        
    if b != 'None':
        if b not in pt_brd:
            pt_brd[b] = 0
        pt_brd[b][i] = 2

In [23]:
in_bin = pd.DataFrame()
in_bin['Type(dog=1)'] = in_df.apply(lambda a : int(a['Type'] == 'DOG'), axis=1)
in_bin['Sex(male=1)'] = in_df.apply(lambda b : int(b['Sex'] == 'Male'), axis=1)
in_bin['Fixed']       = in_df.apply(lambda c : int(c['Fixed']), axis=1)
in_bin['Age(days)']   = in_df['Age']
in_bin['Days Held'] = in_df['Days in Shelter']

in_bin = pd.concat([in_bin, pt_inT, pt_inC, pt_clr, pt_brd], axis=1)
in_bin.head()

,Type(dog=1),Sex(male=1),Fixed,Age(days),Days Held,ADOPTION RETURN,BORN HERE,CONFISCATE,OS APPT,OWNER SURRENDER,...,YORKSHIRE TERR,TAN HOUND/MIX,TAN HOUND,WOLF,JAVANESE,BLACK/TAN HOUND,TERRIER,BELG SHEEPDOG,BULL TERR MIN,PHARAOH HOUND
0,1,0,1,3228,34,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,3653,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,46,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,93,70,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,4041,24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
out_bin = pd.get_dummies(pet_df['Outcome Type'])
out_bin.head()

   ADOPT  DIED  ESCP  EUTH  RTO  TRANS
0      1     0     0     0    0      0
1      0     0     0     0    1      0
2      0     0     0     0    0      1
3      1     0     0     0    0      0
4      0     0     0     0    0      1

In [25]:
a_train, a_test, b_train, b_test = train_test_split(in_bin, out_bin, test_size = 0.33, random_state = 42)

In [30]:
rfc = RandomForestClassifier(n_estimators=100, random_state=0)

rfc.fit(a_train, b_train)

b_pred = rfc.predict(a_test)


print('Model accuracy score with 100 decision-trees : {0:0.4f}'. format(accuracy_score(b_test, b_pred)))

Model accuracy score with 100 decision-trees : 0.7755

In [33]:
feature_scores = pd.Series(rfc.feature_importances_, index=a_train.columns).sort_values(ascending=False)

feature_scores

Days Held          0.278434
Age(days)          0.165185
Fixed              0.073488
UNTREATABLE        0.049244
UNKNOWN            0.028526
                     ...
CHIHUAHUA & MIN    0.000000
LEONBERGER         0.000000
KOMONDOR           0.000000
ST BERNARD SMTH    0.000000
KUVASZ             0.000000
Length: 281, dtype: float64

In [34]:
from sklearn.metrics import classification_report

print(classification_report(b_test, b_pred))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86      2396
           1       1.00      0.05      0.09        22
           2       0.00      0.00      0.00         1
           3       0.89      0.57      0.70       597
           4       0.94      0.89      0.92      2159
           5       0.75      0.38      0.51       931

   micro avg       0.87      0.78      0.82      6106
   macro avg       0.74      0.46      0.51      6106
weighted avg       0.87      0.78      0.81      6106
 samples avg       0.78      0.78      0.78      6106